@model Projeto.Models.Cliente   

<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tem certeza que deseja Excluir?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" style="background-color:#CCCECE; border: none;">
            <i class="fa fa-times fa-1x" aria-hidden="true"></i>
        </button>   
      </div>
      <div class="modal-body">
          <form asp-action="DeleteConfirm" method="POST">

            <dl class="dl-horizontal">
                <input type="hidden" asp-for="Id"/>

                <div class="row">
                    <section class="col col-md-12">
                        <label class="control-label">Nome: @Model.Nome</label>                                
                    </section>
                </div>  

                <div class="row">
                    <section class="col col-md-12">
                        <label class="control-label">CPF: @Model.Cpf</label>                                
                    </section>
                </div> 
            
                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
            </form>

        </div>    
    </div>
  </div>
</div>
