@model Projeto.Models.Cliente



<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="background-color:">

      <form asp-action="Edit" id="form-edit-cliente">

          <div class="modal-header">      
              <div style="margin-right: 1em;" id="btn-edit-existsCliente" data-url="@Url.Action("CpfExistsEdit","Cliente")"> 
                  <button type="button" onclick="EditPost('btn-edit-existsCliente', 'form-edit-cliente')" style="background-color:white; border: none;">
                      <i class="fa fa-save fa-3x" style="color: #2059bc;" aria-hidden="true"></i>
                  </button>
              </div>

              <div style="margin-right: 1em;">
                  <button type="button" style="background-color:white; border: none;" onclick="EditIcon()">
                      <i class="fa fa-edit fa-3x" style="color:black"></i>
                  </button>  
              </div>              

              <div id="btn-delete-cliente" data-url="@Url.Action("Delete","Cliente")"> 
                  <button type="button" onclick="Delete(@Model.Id, 'btn-delete-cliente')" style="background-color:white; border: none;"> 
                      <i class="fa fa-trash fa-3x" style="color: #AD3E48;"></i>
                  </button>                
              </div>

              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" style="background-color:white; border: none;">
                    <i class="fa fa-window-close-o fa-2x" aria-hidden="true"></i>
              </button>
          </div>

          
          <div class="modal-body">
            
              <div class="form-horizontal">
                  <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                  <input type="hidden" asp-for="Id" />

                  <div class="form-group row">
                      <label class="col-md-2 control-label">Nome</label>
                      <div class="col-md-10">
                          <input type="Text" asp-for="Nome" class="form-control" readonly/>
                          <span asp-validation-for="Nome" class="text-danger"></span>
                      </div>
                  </div>

                  <div class="form-group row">
                      <label class="col-md-2 control-label">CPF</label>
                      <div class="col-md-10">
                          <input type="Text" asp-for="Cpf" class="form-control" readonly/>
                          <span asp-validation-for="Cpf" class="text-danger"></span>
                      </div>
                  </div>

                  <div class="form-group row">
                      <label class="col-md-2 control-label">Dt Nasc</label>
                      <div class="col-md-10">
                          <input type="Text" asp-for="DataNascimento" class="form-control" readonly />
                      </div>
                  </div>              

              </div>
          
          </div>
        <div asp-validation-summary="ModelOnly" class="text-danger">Teste</div>
      </form>
      
    </div>
  </div>
</div>



<partial name="_ValidationScriptsPartial">