@model Projeto.Models.Produto

<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <form asp-action="Edit">
            <div class="form-horizontal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="Id" />

                <div class="form-group row">
                    <label class="col-md-2 control-label">Nome</label>
                    <div class="col-md-10">
                        <input type="Text" asp-for="Nome" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 control-label">Preço</label>
                    <div class="col-md-10">
                        <input type="Text" asp-for="Preco" class="form-control" />
                    </div>
                </div>              

                
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Concluir" class="btn btn-info" />
                    </div>
                </div>

            </div>
        </form>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }

        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>